.posters_list_skeleton_loading_root {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.sidebar_skeleton_loading_container {
    width: 20%;
    height: 100vh;
    border-radius: 8px;
    background-color: #d1d1d1;
    animation: skeleton-loading 1s linear infinite alternate;
}

.posters_list_skeleton_loading_container {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.event_container {
    height: 160px;
    margin-bottom: 20px;
    border-radius: 8px;
    position: relative;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}
