/* FLEX BOX START */

.posters_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 30px;
}

.posters_container .aside_wrapper {
    width: unset;
    height: unset;
}

@media (max-width: 680px) {
    .posters_container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .posters_filters_wrapper {
        display: none;
    }
}

/* FLEX BOX END */

.posters_list_wrapper {
    width: 100%;
}