.sidebar_categories_filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories_filter_label {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #374FFE;
}

.categories_form_controls {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: flex-start;
}

.form_control {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    position: relative;
}

/* CUSTOM CHECKBOX START */

/*Remove the default input*/
.form_control input {
    position: absolute;
    width: 25px;
    height: 25px;
    opacity: 0;
    right: 5px;
    cursor: pointer;
}

/*Set default color and size to the checkmark*/
.checkmark {
    width: 25px;
    height: 25px;
    background-color: #F2F2F2;
    border: 1px solid #000000;
}

/*On mouse-over, the checkmark changes the bg color*/
.form_control input:hover ~ .checkmark {
    background-color: #CCC;
}

/*When the input is checked*/
.form_control input:checked ~ .checkmark {
    background-color: #2196F3;
}

/*Style the mark*/
.checkmark:after {
    content: '';
    display: none;
    position: absolute;
    right: 17px;
    top: 14px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Show the mark when the input is checked*/
.form_control input:checked ~ .checkmark:after {
    display: block;
}

/* CUSTOM CHECKBOX END */

.form_control label {
    margin-right: 15px;
}

