.sidebar_categories_filter {
    
}

.categories_filter_label {
    font-size: 23px;
    font-weight: 700;
}

.categories_form_controls {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: flex-start;
}

.form_control {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    position: relative;
}

.form_control input {
    position: absolute;
    width: 25px;
    height: 25px;
    opacity: 0;
    right: 5px;
    cursor: pointer;
}

.checkmark {
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
}

.form_control input:hover ~ .checkmark {
    background-color: #CCC;
}

.form_control input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: '';
    display: none;
    position: absolute;
    right: 17px;
    top: 14px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form_control input:checked ~ .checkmark:after {
    display: block;
}

.form_control label {
    margin-right: 15px;
}

