.categories_form_controls {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: flex-start;
    margin: 10px
}

.form_control {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    position: relative;
}
