.categories_form_controls {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: flex-start;
    margin: 10px
}

.form_control {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    position: relative;
}

/* FULL SCREEN MODE START */

.categories_wrapper_full {
    align-items: center;
}

.categories_header_wrapper_full {
    width: 100%;
    justify-content: space-between;
}

.categories_form_controls_full {
    width: 100%;
}

.categories_form_control_full {
    width: 100%;
    justify-content: space-between;
}

/* FULL SCREEN MODE END*/
